{{ form_start(form) }}
<div class="row">

    <div class="input-field col s12 l12">
        {{ form_widget(form.pseudo)}}
        {{ form_label(form.pseudo, 'Pseudo') }}
        <span class='form-error'>{{ form_errors(form.pseudo) }}
        </span>
    </div>
    <div class="input-field col s12 l6">
        {{ form_widget(form.password.first) }}
        {{ form_label(form.password.first) }}
        <span class='form-error'>{{ form_errors(form.password.first) }}
        </span>
    </div>
    <div class="input-field col s12 l6">
        {{ form_widget(form.password.second) }}
        {{ form_label(form.password.second) }}
        <span class='form-error'>{{ form_errors(form.password.second) }}
        </span>
    </div>
    <div class="input-field col s12 l12">
        {{ form_widget(form.email) }}
        {{ form_label(form.email) }}
        <span class='form-error'>{{ form_errors(form.email) }}
        </span>
    </div>
    <div class="input-field col s12 l6">
        {{ form_widget(form.rang1v1) }}
        {{ form_label(form.rang1v1) }}
        <span class='form-error'>{{ form_errors(form.rang1v1) }}
        </span>
    </div>
    <div class="input-field col s12 l6">
        {{ form_widget(form.rang2v2) }}
        {{ form_label(form.rang2v2) }}
        <span class='form-error'>{{ form_errors(form.rang2v2) }}
        </span>
    </div>
    <div class="input-field col s12 l6">
        {{ form_widget(form.rang3v3solo) }}
        {{ form_label(form.rang3v3solo) }}
        <span class='form-error'>{{ form_errors(form.rang3v3solo) }}
        </span>
    </div>
    <div class="input-field col s12 l6">
        {{ form_widget(form.rang3v3team) }}
        {{ form_label(form.rang3v3team) }}
        <span class='form-error'>{{ form_errors(form.rang3v3team) }}
        </span>
    </div>
    <div class="input-field col s12 l12">
        {{ form_widget(form.nbHeures) }}
        {{ form_label(form.nbHeures) }}
        <span class='form-error'>{{ form_errors(form.nbHeures) }}
        </span>
    </div>
</div>

<div class="center">
    <button class="waves-effect waves-light btn btn-primary lighten-1">{{ button_label|default('Confirmer et m\'inscrire') }}</button>
</div>
{{ form_end(form) }}
